In [2]:
def wish():
    print("good morning")
wish()
wish()

good morning
good morning

In [4]:
def wish(name):
    print(f'hello {name} good morning')
wish("venky")
wish("nihal")

hello venky good morning
hello nihal good morning

In [7]:
def sqr(n):
    print(n**2)
sqr(10)
sqr(15)

100
225

In [12]:
def add(a,b):
    return a+b
res=add(10,20)
print(res)
print(add(100,200))
print(add(15,20))
add(2,3)

30
300
35

5

In [14]:
def sum():
    print("sum")
sum()
print(sum())

sum
sum
None

In [21]:
#wap to check wheather the given number is even or odd using function

def even_odd(n):
    if n%2==0:
        print(f"{n} is even")
    else:
        print(f"{n} is odd")
even_odd(5)
even_odd(10)
even_odd(6.3)
even_odd(5.2)

5 is odd
10 is even
6.3 is odd
5.2 is odd

In [28]:
# wap to find the factorial of the given number

def fact(n):
    f=1
    while n:
        f=f*n
        n-=1
    return f
print(fact(5))
fact(1)
fact(0)
for i in range(1,6):
    print(i,fact(i))

120
1 1
2 2
3 6
4 24
5 120

In [30]:
def sum_sub(a,b):
    sum=a+b
    sub=a-b
    return sum,sub
x,y=sum_sub(100,50)
print("the sum is",x)
print("the subtraction is:",y)
# t=sum_sub(100,50)
# print(t)

(150, 50)

In [34]:
def calc(a,b):
    sum=a+b
    sub=a-b
    mul=a*b
    div=a/b
    return sum,sub,mul,div
tup=calc(20,10)
print(tup)

print("the results are")
for i in tup:
    print(i)

(30, 10, 200, 2.0)
the results are
30
10
200
2.0

In [41]:
# variabe length arguments

def sum(*args):
    tot=0
    for i in args:
        tot+=i
    return tot
print(sum())
print(sum(10))
print(sum(10,20))
print(sum(10,20,30,40))

0
10
30
100

In [39]:
def sum(name,*n):
    tot=0
    for i in n:
        tot+=i
    return name,tot
print(sum("venky"))
print(sum("ramu",10))
print(sum("dev",10,20))
print(sum("jes",10,20,30,40))

('venky', 0)
('ramu', 10)
('dev', 30)
('jes', 100)

In [40]:
# wap to print the keyword arguments

def display(**kwargs):
    print("record information")
    for k,v in kwargs.items():
        print(k,"--------",v)
display(name="rahul",age="30",hs=199,avg=50)
display(name="kohli",age="34",hs=241,avg=55)
display(name="rohit",age="37",hs=199,avg=45)

record information
name -------- rahul
age -------- 30
hs -------- 199
avg -------- 50
record information
name -------- kohli
age -------- 34
hs -------- 241
avg -------- 55
record information
name -------- rohit
age -------- 37
hs -------- 199
avg -------- 45

In [45]:
def f(a,b,c=10,d=20):
    print(a,b,c,d)
f(1,2)
f(1,2)
f(1,2,3)

1 2 10 20
1 2 10 20
1 2 3 20

In [48]:
#recursive function to print factorial

def factorial(n):  
    if n==0:
        res=1
    else:
        res=n*factorial(n-1) #res=3*fact(2)
    return res               #res=3*2*fact(1)
print(factorial(0))          #res=3*2*1*f(0)
print(factorial(5))          #res=3*2*1*1=6

1
120

In [50]:
# anonymous function(lamda)

s=lambda a:a**2
print(s(2))
print(s(10))
print(s(12))

4
100
144

In [6]:
x=lambda a,b:a+b
print(x(3,2))
print(x(15,25))

#biggest if two num

z=lambda a,b:a if a>b else b
print("the large num is:",z(10,20))
print("the large num is:",z(100,20))
print("----------------")
z=lambda a,b:[b,a][a>b]
print("the large num is:",z(10,20))
print("the large num is:",z(100,20))

5
40
the large num is: 20
the large num is: 100
----------------
the large num is: 20
the large num is: 100

In [3]:
#wap to pritn prime number using function

def prime(n):
    count=0
    i=2
    while i<n:
        if n%i==0:
            count+=1
        i+=1
    # print(["not prime","prime"][count==2])
    print("prime" if count==0 else "not prime")
    # if count==2:
    #     print("prime")
    # else:
    #     print("not prime")
prime(4)
prime(2)
prime(7)

not prime
prime
prime

In [10]:
#filter function

def iseven(x):
    if x%2==0:
        # print("even")
        return True
    else:
        # print("odd")
        return False
l=[0,3,5,2,6,8,9,8]
l1=list(filter(iseven,l))
print(l1)

print("------using lamda function-----")

l2=[0,3,5,2,6,8,9,8,9]
l3=list(filter(lambda x:x%2==0,l))
l4=list(filter(lambda x:x%2!=0,l))
print(l3)
print(l4)

[0, 2, 6, 8, 8]
------using lamda function-----
[0, 2, 6, 8, 8]
[3, 5, 9]

In [13]:
# map() function

def double(x):
    return 2*x
l=[0,3,5,2,6,8,9,8,9]
l1=list(map(double,l))
print(l1)

print("------using lamda function-----")

l=[0,3,5,2,6,8,9,8,9]
l2=list(map(lambda x:2*x,l))
print(l2)

[0, 6, 10, 4, 12, 16, 18, 16, 18]
------using lamda function-----
[0, 6, 10, 4, 12, 16, 18, 16, 18]

In [17]:
# squares of the numbers using map function

def sqr(n):
    return n**2
l=[1,2,3,4,5,6,7,8,9]
l1=list(map(sqr,l))
print(l1)

print("------using lamda function-----")

l=[1,2,3,4,5,6,7,8,9]
print(list(map(lambda x:x**2,l)))

[1, 4, 9, 16, 25, 36, 49, 64, 81]
------using lamda function-----
[1, 4, 9, 16, 25, 36, 49, 64, 81]