In [11]:
s={1,2,3,4,5}
s.add((7,8))
s.add("hello")
print(s)

{1, 2, 3, 4, 5, 'hello', (7, 8)}

In [8]:
#1 add()
s={1,2,3,4,5,6}
def add(coll,ele):
    if type(coll)!=set:
        return False
    if type(ele) in [list,set,dict]:
        raise Exception("set not accept the mutable data")
    coll|={ele}
add(s,("a","b"))
print(s)

{1, 2, 3, 4, 5, 6, ('a', 'b')}

In [13]:
#2 clear()
s={"a","b",2,"c","d",4,5}
s.clear()
print(s)

set()

In [16]:
#clear()
s={"a","b",2,"c","d",4,5}
print(s,id(s))
def clear(coll):
    if type(coll)!=set:
        return -1
    coll-=coll
clear(s)
print(s,id(s))

{'b', 2, 4, 5, 'c', 'd', 'a'} 2199353913440
set() 2199353913440

In [23]:
s={"hello","hai","1","2",10,20,30}
s.pop()
s.pop()
print(s)

{'hai', 20, '2', 30, '1'}

In [25]:
#3pop()
s={"hello","hai","1","2",10,20,30}
print(id(s),s)
def pop(coll):
    if type(coll)!=set:
        return -1
    res=list(coll)[0]
    coll-={res}
pop(s)
print(id(s),s)

2199359032000 {'hello', 10, 'hai', 20, '2', 30, '1'}
2199359032000 {10, 'hai', 20, '2', 30, '1'}

In [36]:
s={"a","b","c",1,2,3,4}
s.remove("b")
s.remove(4)
print(s)

{1, 2, 3, 'c', 'a'}

In [37]:
#4remove()
s={"a","b","c",1,2,3,4}
print(id(s),s)
def remove(coll,ele):
    if type(coll)!=set:
        return -1
    if ele not in coll:
        raise KeyError(ele)
    coll-={ele}
remove(s,"b")
print(id(s),s)

2199359038944 {'b', 1, 2, 3, 4, 'c', 'a'}
2199359038944 {1, 2, 3, 4, 'c', 'a'}

In [31]:
#5 discard()
s={"a","b","c",1,2,(3,4)}
s.discard("a")
s.discard((3,4,5))
print(s)

{'b', 1, 2, (3, 4), 'c'}

In [38]:
#discard
s={"a","b","c",1,2,(3,4)}
print(id(s),s)
def discard(coll,ele):
    if type(coll)!=set:
        return -1
    coll-={ele}
discard(s,"b")
print(id(s),s)

2199359038496 {'b', 1, 2, (3, 4), 'c', 'a'}
2199359038496 {1, 2, (3, 4), 'c', 'a'}

In [41]:
s1={1,2,3,4,5}
s2={1,2,3}
s1.issuperset(s2)

True

In [44]:
#6 issuperset
s1={1,2,3,4,5}
s2={1,2,3}
def issuperset(coll1,coll2):
    if type(coll1)!=set or  type(coll2)!=set:
        return -1
    for i in coll2:
        if i not in coll1:
            return False
    return True
issuperset(s1,s2)

True

In [46]:
s1={1,2,3,4,5}
s2={1,2,3}
s2.issubset(s1)

True

In [49]:
#7 issubset()

s1={1,2,3,4,5}
s2={1,2,3}
def issubset(coll1,coll2):
    if type(coll1)!=set or  type(coll2)!=set:
        return -1
    for i in coll2:
        if i not in coll1:
            return False
    return True
issubset(s1,s2)

True

In [52]:
s1={1,2,3,4,5}
s2=s1.copy()
print(id(s1),s1)
print(id(s2),s2)

2199359041408 {1, 2, 3, 4, 5}
2199359038720 {1, 2, 3, 4, 5}

In [57]:
#8 copy
s1={1,2,3,4,5}

def copy(coll):
    if type(coll)!=set:
        return -1
    res=set()
    l=list(coll)
    for i in l:
        res|={i}
    return res
t=copy(s1)
print(id(t),t)
print(id(s1),s1)

2199359042752 {1, 2, 3, 4, 5}
2199359043648 {1, 2, 3, 4, 5}

In [65]:
#update()
s1={1,2,3,4,5}
s1.update({11:12,13:14})
s1.update("hello")
print(s1)

{1, 2, 3, 4, 5, 'l', 11, 13, 'o', 'h', 'e'}

In [70]:
#update()
s1={1,2,3,4,5}

def update(coll,ele):
    if type(coll)!=set:
        return -1
    if type(coll)  in [int,float,complex,bytearray,bytes]:
        return -1
    res=set(ele)
    coll |=res
t=update(s1,{10:20,30:40})
print(id(t),t)
print(id(s1),s1)

140730853256392 None
2199359033792 {1, 2, 3, 4, 5, 10, 30}

In [72]:
#union()

x={10,20,30,40}
y={10,20,30,40,50,60}
print(x|y)

{40, 10, 50, 20, 60, 30}

In [78]:
#union()
x={10,20,30,40}
y={10,20,30,40,50,60}
print(x|y)
def union(coll1,coll2):
    if type(coll1)!=set or  type(coll2)!=set:
        return -1
    coll1 |=coll2
union(x,y)
print(x)
print(y)

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}
{50, 20, 40, 10, 60, 30}

In [82]:
x={10,20,30,40}
y={10,20,30,40,50,60}
print(id(x),x)
x&=y
print(id(x),x)

2199361373568 {40, 10, 20, 30}
2199361373568 {40, 10, 20, 30}

In [94]:
x={10,20,30,40}
y={10,20,30,40,50,60,70}
def intersection(coll1,coll2):
    if type(coll1)!=set or  type(coll2)!=set:
        return -1
    coll=set()
    for i in coll1:
        for j in coll2:
            if i==j:
                coll|={i}
    return coll
intersection(x,y)
# print(coll)

{10, 20, 30, 40}

In [2]:
#difference()
x={10,20,30,40,100,200,110}
y={10,20,30,40,50,60,70}
res=x-y
print(res)

{200, 100, 110}

In [5]:
x={10,20,30,40,100,200,110}
y={10,20,30,40,50,60,70}
def difference(coll1,coll2):
    if type(coll1)!=set or type(coll2)!=set:
        return -1
    res=set()
    res=coll1-coll2
difference(x,y)
print(res)

{200, 100, 110}

In [8]:
x={10,20,30,40,100,200,110}
y={10,20,30,40,50,60,70}
x.symmetric_difference(y)
x=x^y
print(x)

{50, 100, 70, 200, 110, 60}

In [6]:
x={10,20,30,40,100,200,110}
y={10,20,30,40,50,60,70}
def difference(coll1,coll2):
    if type(coll1)!=set or type(coll2)!=set:
        return -1
    res=set()
    res=coll1-coll2
    res=coll2-coll1
difference(x,y)
print(res)

{200, 100, 110}