In [1]:
# 1 to print the hello word using the shell

print("hello world")

hello world

In [2]:
# 2 to print variable and value as 50

a=50
print("a=",a)

a= 50

In [5]:
# 3vto inetialize multiple values into the multiple variables

a,b,c=10,20,30
print("a,b,c=",a,b,c)

a,b,c= 10 20 30

In [6]:
# 4to print the type of the given data

a="str"
print(type(a))

<class 'str'>

In [3]:
# 5 toto print the address of the variable

a=10
print(id(a))

b=10
print(id(b))

print((a) is (b))

140721051588544
140721051588544
True

In [4]:
# 6 to print your details and extract your name

d={"no":548,"name":"venky","phone":7386624004,"email":"venky@gmail.com"}

print(d["name"])

venky

In [6]:
# 7 to print your details and extract your name

name="venky"
no=548
phone=7386624004

print(name)
print(phone)

venky
7386624004

In [8]:
# 8 was to swap the variable with the temp

a=10
b=20
temp=a
a=b
b=temp
print("a=",a,"b=",b)

a= 20 b= 10

In [9]:
# 9 was to swap the variable with out the temp variable
a=100
b=200
a,b=b,a
print("a=",a,"b=",b)

a= 200 b= 100

In [11]:
# 10 was to inetialize the a value to the variable and re-inetialize a new value to the exesting variable

l=[10,20,30,40] # inetialize 
print(l)
l[1]=50 #re inetialize
print(l)

d={"a":10,"b":20,"c":30}

d["c"]=50
print(d)

[10, 20, 30, 40]
[10, 50, 30, 40]
{'a': 10, 'b': 20, 'c': 50}

In [16]:
# 11 was to convert the single to the multivalue datatype
#ip=10 o/p=["1""0"]

a=10
b=str(a)
print("b=",b)
print(list(b))

b= 10
['1', '0']

In [18]:
#12 to concat the two multivalue data types (str,list,tuple)

a="hello"
a+=" world"
print(a)

l=[10,20,30]
l+=[40,50]
print(l)

t=("a","b","c")
t+=("c","d")
print(t)

hello world
[10, 20, 30, 40, 50]
('a', 'b', 'c', 'c', 'd')

In [19]:
# 13 to check the length of collection
s={10,20,30,40,50}

print(len(s))

5

In [20]:
#14 to check find out the middle value of the given collection
l=[10,20,30,40]
print(l[len(l)//2])

30

In [21]:
#15 to concat the new string into starting of given string
a="how r u"
b="haii"
print(b+a)

haiihow r u

In [1]:
# 16 Was to concat the new string into ending of given string

a="str"
a+="ing"
print(a)

string

In [3]:
# 17 to concat the new string into middle of given string

a="how you"
print(a[:3]+" are "+a[3:])

how are  you

In [5]:
#18 to modify the new char in to the middle of given string
s="pyspiders"
print(s)
t=s[len(s)//2]
print(t)
s=s[0:len(s)//2]+"I"+s[(len(s)//2)+1:]
print(s)

pyspiders
i
pyspIders

In [6]:
# 19 to modify the sequence of character in given string
s="pyspiders"
print(s[0:3]+"PID"+s[6:])

pysPIDers

In [7]:
# 20 to delete the specific chaaracter in given string

s="pyspiders"
print(s)
print(s[:-4]+'D'+s[-3:])

pyspiders
pyspiDers

In [8]:
#21 to delete a specific character in a given string
s="pyspiders"
print(s[:2]+s[3:])

pypiders

In [9]:
#23 to concat new string into a specific potion of given string
s="hai are you"
print(s[:4]+'hai'+s[3:])

hai hai are you

In [10]:
#24 to concat new value into starting of given list
s=[1,2,3]
print([4,5,7]+s)

[4, 5, 7, 1, 2, 3]

In [11]:
#25 to concat new value into ending  of given list
s=[1,2,3]
print(s+[4,5,7])

[1, 2, 3, 4, 5, 7]

In [68]:
#26 to concat new value into middle of given list
s=[10,10.12,True ,200,300,'hai',123]
s[len(s)//2:len(s)//2]=['a','b']
print(s)

[10, 10.12, True, 'a', 'b', 200, 300, 'hai', 123]

In [69]:
#27 to concat new value into specific postion of given list
s=[10,10.12,True ,'hai']
s[2:2]=['hai']
print(s)

[10, 10.12, 'hai', True, 'hai']

In [70]:
#28 to modify new value into specific postion of given list
s=[10,10.12,True ,'hai']
s[1]=True
print(s)

[10, True, True, 'hai']

In [71]:
#29 to modify new value into starting postion of given list
s=[10,10.12,True ,'hai']
s[0]={'a':20}
print(s)

[{'a': 20}, 10.12, True, 'hai']

In [72]:
#30 to modify new value into ending value of given list
s=[10,10.12,True ,'hai']
s[-1]='qspiders'
print(s)

[10, 10.12, True, 'qspiders']

In [73]:
#31 to modify the new value into middile of list
l=[10,10.6,True,'haii']
l[len(l)//2]="hello"
print(l)

[10, 10.6, 'hello', 'haii']

In [74]:
#32 to modify the first 4 positions of given list
l=[1,2,3,4,5,6,7,8]
l[0:4]=['a','b','c',]
print(l)

['a', 'b', 'c', 5, 6, 7, 8]

In [75]:
#33 to modify the sequence of values in the given list
d=[1,2,3,4,5,6,7,8,9]
print(d)
print(d[1: :2])
d[1: :2]=[20,40,60,80]
print(d)

d=[1,3,2,5,4,7,8,6,9,15]
print(d[ : :2])
d[ : :2]=[d[0]**2,d[2]**2,d[4]**2,d[6]**2,d[8]**2,]
print(d)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]
[1, 20, 3, 40, 5, 60, 7, 80, 9]
[1, 2, 4, 8, 9]
[1, 3, 4, 5, 16, 7, 64, 6, 81, 15]

In [76]:
#34 to delete the values in specific position in the given list
s=[1,2,3,4,5]
print(s)
del s[3]
print(s)

[1, 2, 3, 4, 5]
[1, 2, 3, 5]

In [77]:
#35 to delete the values at the ending of list
s=[1,2,3,4,5]
print(s)
del s[-1]
print(s)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]

In [78]:
#36 to delete new value at starting of list
s=[1,3,5,7,9,11]
print(s)
s[0:1]=[]
print(s)

[1, 3, 5, 7, 9, 11]
[3, 5, 7, 9, 11]

In [79]:
#37 to delete new value in the middle of the list
s=[1,2,3,4,5,6,7]
print(s)
print(len(s)//2)
del s[len(s)//2]
print(s)

[1, 2, 3, 4, 5, 6, 7]
3
[1, 2, 3, 5, 6, 7]

In [80]:
#38 to concat the value at starting of tuple
t=(1,2,3,4,5)
print(t)
t=('a','b')+t
print(t)

(1, 2, 3, 4, 5)
('a', 'b', 1, 2, 3, 4, 5)

In [81]:
#39 to concat the value at the middle of tuple.
t=(1,2,3,4,5)
print(t)
t=t[0:2]+('a','b')+t[2:]
print(t)

(1, 2, 3, 4, 5)
(1, 2, 'a', 'b', 3, 4, 5)

In [82]:
#40 to concatenate the new value at the ending of tuple
t=(1,2,3,4,5)
print(t)
t+=('a','b')
print(t)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 'a', 'b')

In [83]:
#41 to modify sequence values in a tuple
t=(10,10.12,True,50)
print(t[0:2]+('modified',))

(10, 10.12, 'modified')

In [84]:
#42 to delete sequence of values in a tuple 
t=(10,10.12,True,'string',[10,True])
print(t[:1]+t[-1:])

(10, [10, True])

In [85]:
#43 to concat the new value into the set
s={10,20,30}
s|={40,50}
print(s)

{50, 20, 40, 10, 30}

In [86]:
#44 to delete specific value in a set
s={10,20,30}
s-={20}
print(s)

{10, 30}

In [87]:
#45 to concat new value and key to dict
d={10:20,20:30,40:50}
d[50]=309
print(d) #to add single value

{10: 20, 20: 30, 40: 50, 50: 309}

In [88]:
#46 to delete specific key and value in the given dict
d={10:20,20:30,40:50}
del d[20]
print(d)

{10: 20, 40: 50}

In [89]:
#47 to modify the specific value in a given dict
d={10:20,20:30,40:50}
d[10]=200
print(d)

{10: 200, 20: 30, 40: 50}

In [90]:
#48 to concat list value and tuple values by using typecasting
l=[10,10.12,True]
t=("string",'a','b')
print(l+list(t))

[10, 10.12, True, 'string', 'a', 'b']

In [91]:
#49 to concat list and tuple value without using typecasting
l=[10,10.12,True]
t=("string",'a','b')
l+=t
print(l)

[10, 10.12, True, 'string', 'a', 'b']

In [92]:
# 50 to concat list and tuple by using the compound assignment

l=[10,20,30,40]
l+=("a","b","c","d")
print(l)

# l=[10,20,30,40]
# l1=("a","b","c","d") #we can concat two different data types by using the compound assignment only
# l=l+l1
# print(l)

[10, 20, 30, 40, 'a', 'b', 'c', 'd']