In [3]:
# 1 wap to print hello world
n=5
for i in range(1,n+1,1):
    print("hello")

hello
hello
hello
hello
hello

In [5]:
# 2 wap to print hello world
n=5
for i in range(1,n+1,2):
    print("hello")

hello
hello
hello

In [37]:
# 3 wap to print the numbers from 0,n
n=10
if n<0:
    for i in range(0,n-1,-1):
        print(i,end=" ")
else:
    for i in range(0,n+1):
        print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10

In [39]:
# 4 to print value with step 2

n=-10
if n<0:
    for i in range(0,n,-2):
        print(i,end=" ")
else:
    for i in range(0,n,2):
        print(i,end=" ")

0 -2 -4 -6 -8

In [43]:
# 5 wap to print digits from n-0
n=20
for i in range(20,0,-2):
    print(i,end=" ")

20 18 16 14 12 10 8 6 4 2

In [55]:
#6 to extract digits from num
#we can't directly but using type casting is possible
n=8736575
sum=0
for fd in str(n):
    ld=int(fd)
    print(ld,end=" ")
    sum+=ld
print(sum)

8 7 3 6 5 7 5 41

In [60]:
# 7 print vowels in given string
s="hello python hOw ArE you"
for ch in s:
    if ch in "aeiouAEIOU":
        print(ch,end=" ")

e o o O A E o u

In [66]:
#print prime numbers list
l=[2,3,4,5,6,7,8,9,10]
d=[]
for n in l:
    num=n
    count=0
    i=1
    while i<=n:
        if n%i==0:
            count+=1
        i+=1
    if count==2:
        d.append(n)
print(d)

[2, 3, 5, 7]

In [67]:
n=5
fact=1
for i in range(1,n+1):
    fact*=i
print(fact)

120

In [17]:
#to eliminate the the positive numbers from the list
l=[-1,-2,-3,7,4,-654,-98,-87]
for i in l:
    print(i)
    if i>0:
        l.remove(i)
print(l)

-1
-2
-3
7
-654
-98
-87
[-1, -2, -3, 4, -654, -98, -87]

In [1]:
l=[12,12.0,3+5j,b'101',"hai",True,[1,2,3],(1,2,3),{1,2,3,1,2},{1:2,3:4,5:6}]
for n in l:
    print(n)

12
12.0
(3+5j)
b'101'
hai
True
[1, 2, 3]
(1, 2, 3)
{1, 2, 3}
{1: 2, 3: 4, 5: 6}

In [2]:
l=(12,12.0,3+5j,b'101',"hai",True,[1,2,3],(1,2,3),{1,2,3,1,2},{1:2,3:4,5:6})
for i in l:
    print(i)

12
12.0
(3+5j)
b'101'
hai
True
[1, 2, 3]
(1, 2, 3)
{1, 2, 3}
{1: 2, 3: 4, 5: 6}

In [4]:
l={12,12.0,3+5j,b'101',"hai",True,(1,2,3)}
for j in l:
    print(j)

True
(3+5j)
hai
b'101'
(1, 2, 3)
12

In [ ]:
n=4
for i in range(n):
    print('*',end="  ")

*  *  *  *

In [ ]:
n=5
for i in range(n):
    print('*  '*n)

*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *

In [ ]:
n=4
for i in range(n):
    print((str(n)+'  ')*n)

4  4  4  4
4  4  4  4
4  4  4  4
4  4  4  4

In [ ]:
n=5
for i in range(1,n+1):
    print((str(i)+ '  ')*n)

1  1  1  1  1
2  2  2  2  2
3  3  3  3  3
4  4  4  4  4
5  5  5  5  5

In [ ]:
n=3
for i in range(n):
    print('A  '*n)

A  A  A
A  A  A
A  A  A

In [ ]:
n=4
for i in range(0,n):
    print((chr(65+i)+'  ')*(i+1))

A
B  B
C  C  C
D  D  D  D

In [ ]:
n=5
for i in range(n):
    print('*  '*(i+1))

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *

In [ ]:
n=5
for i in range(n):
    print('*  '*(n-i))

*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [ ]:
n=4
for i in range(n):
    for j in range(n-i):
        print(j+1,end="  ")
    print("\n")

1  2  3  4

1  2  3

1  2

1

In [ ]:
n=5
for i in range(n):
    for j in range(i+1):
        print(j+1,end="  ")
    print("\n")

1

1  2

1  2  3

1  2  3  4

1  2  3  4  5

In [ ]:
n=5
for i in range(1,n+1):
    print("  "*(n-i),(str(i)+"   ")*i,)

         1
       2   2
     3   3   3
   4   4   4   4
 5   5   5   5   5

In [ ]:
n=5
for i in range(1,n+1):
    print("  "*(i+1-1),(str(i)+"   ")*(n+1-i))

   1   1   1   1   1
     2   2   2   2
       3   3   3
         4   4
           5

In [ ]:
n=5
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(chr(65+n-j),end=" ")
    print()

    E
   E D
  E D C
 E D C B
E D C B A

In [ ]:
n=5
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(chr(64+j),end=" ")
    print()

    A
   A B
  A B C
 A B C D
A B C D E

In [ ]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(64+j),end=" ")
    print()
for i in range(1,n):
    for j in range(1,n+1-i):
        print(chr(64+j),end=" ")
    print()

A
A B
A B C
A B C D
A B C D E
A B C D
A B C
A B
A

In [ ]:
n=4
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(j,end=" ")
    print()

1 2 3 4
1 2 3
1 2
1

In [ ]:
n=5
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(j,end=" ")
    print()
for i in range(1,n):
    print(" "*(i),end="")
    for j in range(1,n+1-i):
        print(j,end=" ")
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1